.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1200;
}

.modal {
  position: relative;
  height: 600px;
  width: 60vw;
}

.modalPicture {
  width: 100%;
  height: 100%;
  border-radius: 24px;
}

.modalTag {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 12px 24px;
  color: white;
  font-size: 16px;
  background-color: rgb(158, 181, 216, 0.5);
  border-radius: 0px 0px 24px 24px;
  margin: 0;
  text-transform: uppercase;
}
