.App {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 24px;
}

.container {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*
 * Стили компонента Modal
 */
