.gallery {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
  justify-content: space-evenly;
  list-style: none;
  padding-inline-start: 0;
  padding-bottom: 30px;
}
